Soap-FernandezPancorvo/src/main/resources/xsd/operaciones.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.idat.edu.pe/ws/operaciones"
    targetNamespace="http://www.idat.edu.pe/ws/operaciones"
    elementFormDefault="qualified">
    <xs:element name="getEjercicio1Request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="num1" type="xs:int"/>
                <xs:element name="num2" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEjercicio1Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>