Semana2/src/main/resources/xsd/promedio.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.idat.edu.pe/ws/promedio"
           targetNamespace="http://www.idat.edu.pe/ws/promedio"
           elementFormDefault="qualified">

    <!-- Mensaje de peticion ( PROMEDIO ) -->
    <xs:element name="getPromedioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ec1" type="xs:int" />
                <xs:element name="ec2" type="xs:int" />
                <xs:element name="ec3" type="xs:int" />
                <xs:element name="ecf" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Respuesta de la peticion ( PROMEDIO ) -->
    <xs:element name="getPromedioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="promedio" type="xs:string" />
                <xs:element name="estado" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>